{{ game_user }} soft nofile {{ game_nofile_limit }}
{{ game_user }} hard nofile {{ game_nofile_limit }}

{{ game_user }} soft nproc {{ game_nproc_limit }}
{{ game_user }} hard nproc {{ game_nproc_limit }}